.container-fluid a {
  color: rgb(20, 19, 27);
  size: 30px;
}
/* .hen span{
        color: rgb(5, 17, 5);
    }
     
    .hen a{
        color: rgb(25, 211, 18);
    } */

.h3 {
  color: rgb(85, 17, 45);
}

.button {
  color: rgb(142, 128, 221);
}
.ask .btn {
  margin-top: 15px;
}

.ask {
  color: aliceblue;
}
.ask p {
  color: rgb(5, 9, 14);
}
.ask i {
  color: rgb(4, 14, 10);
  font-size: 25px;
  margin-inline: 5px;
  margin-bottom: 20px;
}

.container-fluid .nature a {
  color: rgb(87, 90, 107);
}

.container-fluid h2 {
  color: rgb(50, 50, 67);
}

.col-sm-6 a {
  text-decoration: none;
}
